/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #1250d4;
  --first-color-alt: #044786;
  --title-color: #504c4c;
  --text-color: #707070;
  --text-color-light: #A6A6A6;
  --body-color: #FBFEFD;
  --container-color: #FFFFFF;
  --dropdown-bg: #fff;

  /*========== Font and typography ==========*/
  --body-font: 'Merriweather', sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.4rem;
  --h2-font-size: 1.2rem;
  --h3-font-size: 1rem;
  --normal-font-size: .945rem;
  --small-font-size: .898rem;
  --smaller-font-size: .765rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 3rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: #F1F3F2;
  --text-color: #e4ebe7;
  --body-color: #000000;
  --container-color: #000000;
  --dropdown-bg: #000;

}

/*========== Button Dark/Light ==========*/
.change-theme{
  /* position: absolute;
  right: 1rem;
  top: 1.8rem; */
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}
input:focus{
    outline: none;
}

.dropdown-menu{
    border-left: 2px solid var(--first-color);
    width: 200px;
    background-color: var(--dropdown-bg);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.582);
}
.dropdown-menu li a{
    color: #707070;
    transition: .2s;
}

.dropdown-menu li a:hover{
    background-color: transparent;
    color: var(--first-color);
}

.btn-primary{
    background-color: var(--first-color);
}

.btn-primary:hover{
    background-color: var(--first-color-alt);
}

.list-group .list-group-item{
    border: none;
    color: var(--text-color) !important;
    background-color: var(--body-color) !important;
}

/* Ion Icon */

ion-icon{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    border-radius: 100%;
    color: #707070;
    transition: .2s;
}

.dropdown-menu li a:hover ion-icon{
    color: var(--first-color);
}

/*========== CLASS CSS ==========*/
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle{
  text-align: center;
}

.section-title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle{
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/
.bd-container{
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
.form-control{
    color: var(--text-color) !important
}
.card{
    background-color: var(--body-color) !important;
    color: (--text-color) !important;
}

#cmt,#edit_cmt{
    background-color: var(--body-color) !important;

}
/*========== NAV ==========*/
.nav{
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub_heading{
    text-align: center;
    color: var(--first-color);
    margin: 20px 0;
    text-transform: uppercase;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item{
  margin-bottom: var(--mb-2);
}

.nav__logo{
    flex-grow: 2;
}

.nav__link, .nav__logo, .nav__toggle{
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover{
  color: var(--first-color);
}
.nav_btn{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav_btn li{
  list-style: none;
  margin: 10px;
}
.dropdown-toggle::after{
    content: none;
}
.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

.nav_btn{
    /* margin-top: 4px; */
  display: inline-flex;
}

.nav_btn li{
  list-style: none;
}
.nav_btn li #user_profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Show menu */
.show-menu{
  top: var(--header-height);
}

/* Active menu */
.active-link{
  color: var(--first-color);
}

/* Change background header */
.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: var(--first-color);
  border-radius: 50%;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--first-color-alt);
}

.scrolltop__icon{
  font-size: 1.8rem;
  color: #fff !important;
}

/* Show scrolltop */
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home__container{
  height: calc(100vh - var(--header-height));
  align-content: center;
}

.home__title{
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

.home__img{
  width: 300px;
  justify-self: center;
}

/*========== BUTTONS ==========*/
.button{
  display: inline-block;
  background-image: linear-gradient(to right top, #001c46, #002d71, #003d9f, #004ece, #155eff);  padding: .75rem 1rem;
  border-radius: .5rem;
  color: #fff;
  font-size: 1.2rem;
  transition: .3s;
}

.button:hover{
    color: #fff;;
    background-image: linear-gradient(to right top, #001c46, #002d71, #003d9f, #004ece, #155eff);  padding: .75rem 1rem;
}

/*========== ABOUT ==========*/
.about__data{
  text-align: center;
}

.about__description{
  margin-bottom: var(--mb-3);
}

.about__img{
  width: 280px;
  border-radius: .5rem;
  justify-self: center;
}

/*========== SERVICES ==========*/
.services__container{
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content{
  text-align: center;
}

.services__img{
  width: 64px;
  height: 64px;
  fill: var(--first-color);
  margin-bottom: var(--mb-2);
}

.services__title{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description{
  padding: 0 1.5rem;
}

/*========== MENU ==========*/
.menu__container{
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.menu__content{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(3,74,40,.15);
  padding: .75rem;
}

.menu__img{
  width: 100px;
  align-self: center;
  margin-bottom: var(--mb-2);
}

.menu__name, .menu__preci{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.menu__name{
  font-size: var(--normal-font-size);
}

.menu__detail, .menu__preci{
  font-size: var(--small-font-size);
}

.menu__detail{
  margin-bottom: var(--mb-1);
}

.menu__button{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
}

/*========== APP ==========*/
.app__data{
  text-align: center;
}

.app__description{
  margin-bottom: var(--mb-5);
}

.app__stores{
  margin-bottom: var(--mb-4);
}

.app__store{
  width: 120px;
  margin: 0 var(--mb-1);
}

.app__img{
  width: 230px;
  justify-self: center;
}

/*========== CONTACT ==========*/
.contact__container{
  text-align: center;
}

.contact__description{
  margin-bottom: var(--mb-3);
}

/*========== FOOTER ==========*/
.footer__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer__description{
  display: block;
  font-size: var(--small-font-size);
  margin: .25rem 0 var(--mb-3);
}

.footer__social{
  font-size: 1.8rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link{
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover{
  color: var(--first-color);
}

.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px){
  .home__container,
  .about__container,
  .app__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .about__data, .about__initial,
  .app__data, .app__initial,
  .contact__container, .contact__initial{
    text-align: initial;
  }

  .about__img, .app__img{
    width: 380px;
    order: -1;
  }

  .contact__container{
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button{
    justify-self: center;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 8rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list{
    display: flex;
  }
  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container{
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container{
    margin-top: var(--mb-6);
  }

  .menu__container{
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content{
    padding: 1.5rem;
  }
  .menu__img{
    width: 130px;
  }

  .app__store{
    margin: 0 var(--mb-1) 0 0;
  }
}

@media screen and (min-width: 960px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__img{
    width: 500px;
  }

  .about__container,
  .app__container{
    column-gap: 7rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
    .home__container {
        height: 640px;
    }
}


.bx{
    font-size: 1.3rem;
}


/* Login Form */


.form {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  top:100px;
}
.form .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: var(--first-color);
    background: var(--first-color);
    background: -moz-linear-gradient(left,#f4524d  0%,var(--first-color) 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,var(--first-color) 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,var(--first-color)  100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.login-form .form-field {
  position: relative;
  margin: 32px 0;
}
.login-form .input-text {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: var(--first-color);
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: transparent;
  outline: none !important;
  color: var(--text-color);

}
.login-form .input-text:focus {
  outline: none !important;
}
.login-form .input-text:focus + .label,
.login-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.login-form .label {
  position: absolute;
  left: 34px;
  bottom: 24px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: var(--first-color);
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,
  -webkit-transform .2s ease-in-out;
}
.login-form .submit-btn {
  display: block;
  margin: 0 auto;
  background-color: #000;
   background-image: linear-gradient(125deg,#a72879,#064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}

/* Login Social Button */

.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
  }
  .social-buttons__button {
    margin: 10px 5px 0;
  }

  .social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 100%;
    background: transparent;
    text-align: center;
    margin: 20px 5px;
  }
  .social-button::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
  }
  .social-button:focus, .social-button:hover {
    color: #fff;
  }
  .social-button:focus::after, .social-button:hover::after {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-left: calc(-50% - 1px);
  }
  .social-button i,
  .social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
  }
  .social-button i {
    font-size: 28px;
  }
  .social-button svg {
    height: 40%;
    width: 40%;
  }
  .social-button--facebook {
    border: 1px solid #3b5999;
    color: #3b5999;
  }
  .social-button--facebook::after {
    background: #3b5999;
  }

  .social-button--google {
    border: 1px solid #bb0202;
    color: #bb0202;
  }
  .social-button--google::after {
    background: #bb0202;
  }


  /* Splide Slider */
#image-splide .splide__track .splide__list .splide__slide
{
    margin: 10px;
    width: 300px;
    height: 200px;
    position: relative;
}

#image-splide .splide__track .splide__list .splide__slide a img{
    width: 100%;
    height: 100%;
    opacity: .8;
    position: absolute;
    transition: .4s;
}

#image-splide .splide__track .splide__list .splide__slide a h3{
    position: absolute;
    top: 50%;
    left: 30%;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

#image-splide .splide__track .splide__list .splide__slide a:hover img{
    opacity: 1;
}

@media(max-width:768px){
    #image-splide .splide__track .splide__list .splide__slide
{
    margin: 5px;
    width: 250px;
    height: 100px;
}
}

#search_header{
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search_header img{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: opacity(.8);
    z-index: -1;
}

#search_header h2{
    margin: 5px 0;
    padding: 0px 10px;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}


#search_header p{
    margin: 5px 0;
    padding: 0px 10px;
    text-align: center;
    line-height: 2;
    color:rgb(212, 197, 197);
    font-size: 1.2rem;
}


#search_header form {
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
}

#search_header form input[type="text"]{
    background-color: #fff;
    width: 40%;
    border: 2px solid #292121;
    outline: none;
    height: 40px;
    padding: 0 5px;
}

#search_header form select{
    background-color: #fff;
    width: 10%;
    border: 2px solid #292121;
    outline: none;
    height: 40px;
    border-left: none;
    padding: 0 5px;
}

#search_header form input[type="submit"]{
    background-color: #292121;
    width: 10%;
    border: 2px solid transparent;
    outline: none;
    height: 40px;
    color: #fff;
}

@media (max-width: 810px){
    #search_header form input[type="text"]{
        width: 50%;
    }

    #search_header form select{
        width: 20%;
    }

    #search_header form input[type="submit"]{
        width: 20%;
    }
}

#ebook .ebook_container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(200px,auto);
    grid-auto-columns: minmax(300px,auto);
    gap: 20px;
    align-items: center;
    align-content: center;
    margin: 30px  10px;
}

#ebook .ebook_container .ebook{
    display: flex;
    flex-direction: row;
    background-color: var(--container-color);
    box-shadow:  0 2px 4px rgba(3,74,40,.15);
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#ebook .ebook_container .ebook:hover{
    border-bottom: 2px solid var(--first-color);
}

#ebook .ebook_container .ebook a .ebook_img{
    min-width: 120px;
    height: 170px;
}

#ebook .ebook_container .ebook .card-block{
    padding: 15px;
    width: 100%;
}

@media (max-width: 1000px){
    #ebook .ebook_container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 700px){
    #ebook .ebook_container{
        grid-template-columns: repeat(1,1fr);
    }
}

.paginate{
    display: flex;
    justify-content: center;
}

.paginate .disabled .page-link{
    color: var(--text-color);
    background-color: var(--body-color);
    border: 1px solid var(--text-color);

}
.paginate .page-link {
    position: relative;
    display: block;
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--body-color);
    border: 1px solid var(--first-color);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


#book_detail{
    margin: 20px 10px;
}


/* Profile */

#profile{
    margin-top: calc(var(--header-height) + 25px);
}

#profile .profile_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
}

@media (max-width: 800px){
    #profile .profile_grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 10px;
    }
}
#profile .image_container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#profile .image_container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 4px rgba(0,0,0,.3));
    margin-bottom: 3px;
}

.box {
    display: block;
    min-width: 300px;
    height: 300px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
  }

  .upload-options {
    position: relative;
    height: 75px;
    background-color: var(--first-color);
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    transition: background-color ease-in-out 150ms;
  }
  .upload-options:hover {
    background-color: var(--first-color-alt);
  }
  .upload-options input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .upload-options label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
  }
  .upload-options label::after {
    content: "Choose Photo";
    position: absolute;
    font-size: 2rem;
    color: #e6e6e6;
    left: 25%;
    z-index: 0;
  }
  .upload-options label span {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
  }
  .upload-options label span:hover i.material-icons {
    color: #fff;
  }

  .js--image-preview {
    height: 225px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url("");
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .js--image-preview::after {
    content: "+";
    position: relative;
    font-size: 4.5em;
    color: #e6e6e6;
    top: calc(50% - 3rem);
    left: calc(50% - 2.25rem);
    z-index: 0;
  }
  .js--image-preview.js--no-default::after {
    display: none;
  }
  .js--image-preview:nth-child(2) {
    background-image: url("http://bastianandre.at/giphy.gif");
  }

  i.material-icons {
    transition: color 100ms ease-in-out;
    font-size: 2.25em;
    line-height: 55px;
    color: white;
    display: block;
  }

  .drop {
    display: block;
    position: absolute;
    background: rgba(95, 158, 160, 0.2);
    border-radius: 100%;
    transform: scale(0);
  }

  .animate {
    -webkit-animation: ripple 0.4s linear;
            animation: ripple 0.4s linear;
  }

  @-webkit-keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }

  @keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }

#profile .profile_detail
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profile .profile_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#profile .profile_btn a{
    text-align: center;
    margin: 10px 0;
    padding: 15px 10px;
    background-color: var(--body-color);
    width: 90%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.342);
    color: var(--text-color);
    border-bottom: 2px solid transparent;
    transition: .5s;
}

#profile .profile_btn a:hover{
    border-bottom:  2px solid var(--first-color);
}


/* Breadcrumbs */

.first ol {
    background-color: var(--body-color) !important
}

.first a:hover {
    color: var(--text-color) !important
}

.breadcrumb>li+li:before {
    content: "" !important
}

.breadcrumb {
    padding: 19px;
    font-size: 1rem;
    color: #aaa !important;
    letter-spacing: 2px;
    border-radius: 5px !important;
}

.breadcrumb .fa {
    color: var(--first-color) !important;
    font-size: 13px;
    margin-left: 5px;
}

.breadcrumb-item {
    background-color: var(--body-color) !important
}

.breadcrumb-item a {
    text-decoration: none !important;
    color: var(--text-color) !important
}

.breadcrumb-item a:hover{
    color: var(--text-color-light);
}

.breadcrumb-item a:focus,
.breadcrumb-item a:active {
    outline: none !important;
    box-shadow: none !important
}

.breadcrumb-item .fa-caret-right {
    vertical-align: middle;
    font-size: 20px !important
}

@media (max-width: 767px) {
    .breadcrumb {
        font-size: .8rem;
    }

    .breadcrumb-item+.breadcrumb-item {
        padding-left: 5px;
    }

    .breadcrumb-item .fa {
        font-size: .8rem !important
    }

    .breadcrumb {
        letter-spacing: 1px !important
    }

    .breadcrumb .fa-caret-right:before {
        content: "\f0da";
        vertical-align: super !important
    }
}

/* about us profile */

.team_container {
    height: auto;
    display: flex;
    align-items: center;
  }

  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: var(--body-color);
    text-align: center;
    overflow: hidden;
    position: relative;
  }

  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }

  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: var(--first-color);
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }

  .our-team:hover .picture::before {
    height: 100%;
  }

  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--first-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }

  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }

  .our-team .title {
    display: block;
    font-size: 15px;
    color: var(--text-color);
    text-transform: capitalize;
    margin: 10px 0;
  }

  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--first-color);
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }

  .our-team:hover .social {
    bottom: 0;
  }

  .our-team .social li {
    display: inline-block;
  }

  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: var(--text-color-light);
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  .our-team .social li a:hover {
    color: var(--first-color);
    background-color: var(--body-color);
  }

/* Contact form */

.contact_form{
    width: 100%;
    padding: 10px;
}

.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form textarea{
    width: 100%;
    outline: none;
    border: 0px solid transparent;
    color: var(--text-color);
    background-color: var(--body-color);
    border-bottom: 2px solid var(--first-color);
    margin: 15px 0;
    padding: 5px;
    transition:all .3s linear;
}

.contact_form input[type="submit"]{
    width: 50%;
    outline: none;
    border: 2px solid var(--first-color);
    color: var(--text-color);
    background-color: transparent;
    margin: 15px 0;
    padding: 5px;
    transition:all .3s linear;

}

.contact_form input[type="submit"]:hover{
    background-color: var(--first-color);
    color: #fff;
}


.contact_form input[type="text"]:hover,
.contact_form input[type="email"]:hover,
.contact_form textarea:hover{
    border-bottom: 2px solid rgb(60, 106, 180);
}
